html {
    font-size: 62.5%;
    font-family: "Jetbrains Mono", monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}


body {
    background-color: #f1f0d9;
}
/*
a,
button,
input[type="button"],
input[type="submit"],
select,
.action-btn,
.categoria-btn,
.hamburguer,
.menu-hamburguer-drawer,
.social-icons i,
.custom-footer .form-box button,
.quantity-controls button
{
  cursor: url('/assets/images/hover.png') 0 0, pointer !important;
}

a:active,
button:active,
input[type="button"]:active,
input[type="submit"]:active,
select:active,
.action-btn:active,
.categoria-btn:active,
.hamburguer:active,
.menu-hamburguer-drawer:active,
.social-icons i:active,
.custom-footer .form-box button:active,
.quantity-controls button:active
{
  cursor: url('/assets/images/click.png') 0 0, pointer !important;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"],
textarea {
  cursor: text !important;
} */
