* {
    font-family: 'Jetbrains Mono', monospace;
}

html {
    background-color: #f8f9f2;
    color: #0b3106;
}
main{
    padding-top: 25px;
}
#duvidas {
    margin-top: 150px;
    background-color: #738765;
    color: #fff;
    padding: 30px;
    border-radius: 25px;
    max-width: 1000px;
    margin: 40px auto;
    border-style: double;

    box-shadow: 15px 10px #667b58;
    text-align: justify;
}

.separador-duvidas{
    padding: 8px;
}

header {
    position: fixed;
    background-color: #f1f2dc;
    color: #0b3106;
    max-width: auto;
    max-height: 100px;
    border-radius: 25px;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    z-index: 10;
    margin: 10px;
    padding: 20px;
}

header img {
    height: 100px;
    margin-right: 20px;
}

.texto-header {
    max-width: 800px;
}

.texto-header h1 {
    font-size: 20px;
    margin: 0 0 10px 0;
}

.texto-header p {
    font-size: 15px;
    margin: 0;
    line-height: 1.5;
}

#duvidas p {
    font-size: 15px;
    line-height: 1.9;
    margin: 0;
}

#barra {
    background-color: #7ba262;
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-topo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 190px;
    background: linear-gradient(to bottom, #cce0bb);
    z-index: -1;
}



#voltarBtn {
    display: block;
    width: fit-content;
    margin: 40px auto 20px auto;
    padding: 12px 25px;
    background-color: #ecf8e9;
    color: #2d4a21;
    border: 2px solid #667b58;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
}

#voltarBtn:hover {
    background-color: #d4e0d0;

    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

    transform: translateY(-1px);
}